@{
    ViewBag.Title = "Home Page";
}


<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">The Weird Blacksmith</h1>
                    <p class="intro-text">Welcome to the site! Our blacksmith is pleased to work with you!
                    To discover what he can do for you simply click the button below!</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>What's the purpose of the site?</h2>
            <p>Weird Blacksmith is a site where the craziest ideas come true. Can you remember whenever you played a game and found some new weapon?</p>
            <p>Why simple sword cannot look cool? Why this epic weapon you've been looking for so long looks so disappointing? What happens to originality?</p>
            <p>But Thanks to our Blacksmith you can create your own collection of amazing weapons!</p>
            <p>Epic deadly Teddy Bear of Destruction? Magic Pen of Humiliation? Sweety Flower of Genocide?</p>
            <p>Choose rarity, statistics, write description and upload your image, only restriction is your imagination!</p>
        </div>
    </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="rarity-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>How to Forge?</h2>
                <p>Obviously it takes years to learn how to forge weapons, so you won't be able to do it by yourself!</p>
                <p>But don't worry! Our blacksmith is here! As he is really original personality, he accept even the craziest tasks!</p>
                <p>To tell him what to do you simply need to click  <font color="#1d9b6c"><i class="fa fa-gavel"></i><span class="light"> Forge</span> <span class="bold"> WEAPON</span></font> button and fill the form!</p>
                <p><font color="#CC3232">YOU MUST BE LOGGED IN TO FORGE!</font></p>
                 <p><font color="#CC3232">Scroll down to learn basic rules of forging!</font></p>
            </div>
        </div>
    </div>

    <div class="statistic-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Rarity</h2>
                <p>Most basic weapon attribute is it's RARITY!</p>
                <p>There are five levels of rarity: <b><font color="#458B00">NORMAL</font>, <font color="#0198E1">MAGIC</font>, <font color="#FFCC11">RARE</font>, <font color="#8B6914">EPIC</font>, <font color="#9932CC">LEGENDARY</font>  </b></p>
                <p>
                    You can ask Blacksmith to create weapon of any rarity, however to create <font color="#FFCC11">RARE</font> grade weapons or higher, you need to <font color="#1d9b6c"><b>LEVEL UP</b></font>. To level up simply keep adding weapons. Certain
                    number of weapons is needed to reach new levels and aquire creditable <font color="#1d9b6c"><b>craft titles</b></font> and new <font color="#1d9b6c"><b>craft possibilities!</b></font>
                </p>
                <p>To create <font color="#FFCC11">RARE</font> weapons, you have to create <b><font size="6"> 3 </b></font> lower rarity weapons as APPRENTICE. </p>
                <p>To create <font color="#8B6914">EPIC</font> weapons, you have to create <b><font size="6"> 6 </b></font> lower rarity weapons as JOURNEYMAN. </p>
                <p>To create <font color="#9932CC">LEGENDARY</font> weapons, you have to create <b><font size="6"> 10 </b></font> lower rarity weapons as MASTER. </p>
                <p>IMPORTANT! After gaining new title your weapon count reset, however you still can all weapons you've created!</p>
                <p>CLICK YOUR ACCOUNT NAME ON TOP TO SEE YOUR TITLE/WEAPONS!</p>
                <p><font color="#CC3232">Scroll down to learn about statistics!</font></p>
            </div>
        </div>
    </div>

    <div class="summary-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Statistics</h2>
                <p>You have to provide three additional information for Blacksmith to be able to start the work!</p>
                <p>First you have to enter <font color="#1d9b6c"><b>WEAPON DAMAGE RANGE</b></font>, which represents how powerfull your weapon is! Remember there are restrictions in numbers, you can't make your weapon too powerfull!</p>
                <p>Next you have to write <font color="#1d9b6c"><b>DESCRIPTION</b></font>. Here you can give free rein to your imagination! Poison damage, turn enemy into ham on hit, growth the wielder nose! Everything is allowed here! Remember only that the description cannot be too long!</p>
                <p>Finally you have to upload your <font color="#1d9b6c"><b>WEAPON IMAGE</b></font>. It can be anything, but image have to have fixed resolution and .png format.</p>
                <p><b>IF YOU HAVE ANY QUESTIONS CLICK <a class="page-scroll" href="#contact">HERE</a> TO CONTACT ME</b></p>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact the creator of the page</h2>
            <p>Feel free to email me. I look forward for any questions, suggestions and opinions!</p>
            <p>
                <a href="mailto:feedback@startbootstrap.com">miszczyk1@gmail.com</a>
            </p>
            <p>
                If you are interested in my other content click below.
            </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://github.com/miszczyk" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="http://facebook.com/LITHIUM-183368591802907/" class="btn btn-default btn-lg"><i class="fa fa-facebook-square fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                </ul>
</div>
    </div>
</section>